#!/usr/bin/env python
PACKAGE = "object_pose_utils"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("filter_size",  int_t,    0, "filter size for thresholding", 31,  0, 1000)
gen.add("filter_const", int_t,    0, "filter constant used for thresholding",    20, 0, 1000)
gen.add("morph_kernel_size", int_t, 0, "morphological CLOSE kernel size", 0, 0, 100)
gen.add("debug",        bool_t,   0, "visualization debug output",  False)


exit (gen.generate (PACKAGE, "object_pose_utils", "ObjectMasker"))
